.keyboard {
    margin: 0 auto 8px;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 200px;
}

.keyboard-row {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin: 0 auto 8px;
    width: 100%;
}

.key {
    height: 58px;
    border-radius: 4px;
    cursor: pointer;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #818384;
    border: none;
    color: white;
    font-weight: bold;
    margin: 0 6px 0 0;
    text-transform: uppercase;
}

.key.larger {
    flex: 1.5;
}